@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../vendor/vaiables.css);

@import url(../blocks/page/page.css);

@import url(../blocks/title/title.css);
@import url(../blocks/section-title/section-title.css);

@import url(../blocks/header/header.css);

@import url(../blocks/desktop-menu/desktop-menu.css);

@import url(../blocks/mobile-menu/mobile-menu.css);

@import url(../blocks/menu-button/menu-button.css);

@import url(../blocks/menu-icon/menu-icon.css);

@import url(../blocks/news/news.css);

@import url(../blocks/slider-nav/slider-nav.css);

@import url(../blocks/progress-bar/progress-bar.css);

@import url(../blocks/slider-container/slider-container.css);

@import url(../blocks/card/card.css);

@import url(../blocks/footer/footer.css);

@import url(../blocks/gallery/gallery.css);

@import url(../blocks/subscribe/subscribe.css);

@import url(../blocks/form/form.css);

.menu__navigation {
  flex-direction: column;
  justify-content: center;
  height: 766px;
}

.navigation__item_show-dropdown {
  margin-right: 92px;
  position: relative;
}

.navigation__item:nth-child(2) {
  margin-right: 60px;
}

.navigation__item_vertical {
  margin-bottom: 80px;
  margin-right: 0;
}

.navigation__item_vertical .navigation__button_arrow {
  margin: 0;
}

.navigation__item_margin-min {
  margin-bottom: 40px;
}

.navigation__item_vertical:last-child {
  margin-bottom: 0;
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.navigation__button {
  background-color: transparent;
  border: none;
  border-radius: initial;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.navigation__button_arrow {
  display: block;
  position: relative;
}

.navigation__button_arrow::after {
  content: "";
  position: absolute;
  background: url("../images/navigation-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 6px;
  margin-left: 14px;
  top: 9px;
}

.navigation__button_arrow_up::after {
  transform: rotate(180deg);
}

.navigation__dropdown-menu {
  opacity: 0;
  background: #000;
  padding: 20px 31px 20px 20px;
}

.navigation__dropdown-menu_click {
  padding: 0;
}

.navigation__dropdown-menu_hover {
  position: absolute;
}

.navigation__item_show-dropdown
  .navigation__button:hover
  .navigation__dropdown-menu_hover {
  display: block;
}

.dropdown-menu__link {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 40px;
}

.dropdown-menu__link:last-child {
  margin-bottom: 0;
}

.navigation__dropdown-menu_click .dropdown-menu__link {
  margin-bottom: 0;
  margin-top: 40px;
}

.slider {
  position: relative;
}

.sticky-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 64px;
  padding-right: 21px;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.3s top ease-in-out;
}

.sticky-header_disable {
  opacity: 0;
  top: -64px;
}

.menu {
  width: 480px;
  padding: 20px 25px 0 40px;
  box-sizing: border-box;
  background-color: #000;
  flex-direction: column;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

.menu_open {
  display: flex;
}

.menu-button__label_to-close {
  color: #fff;
}

.menu-icon_close {
  background: url("../images/icon-close.svg");
}

.dropdown-menu_is-open {
  opacity: 1;
  display: block;
}

@media screen and (max-width: 1439px) {
  .menu {
    height: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .navigation__link,
  .navigation__button {
    font-size: 20px;
  }

  .navigation__item:first-child {
    margin-right: 70px;
  }

  .navigation__item:nth-child(2) {
    margin-right: 55px;
  }
}

@media screen and (max-width: 767px) {
  .header__navigation,
  .sticky-header {
    display: none;
  }

  .menu-icon_close {
    background-image: url("../images/icon-close-white.svg");
  }

  .menu {
    width: 100%;
    z-index: 1;
  }
}
