@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../vendor/vaiables.css);

@import url(../blocks/page/page.css);

@import url(../blocks/title/title.css);

@import url(../blocks/header/header.css);

@import url(../blocks/desktop-menu/desktop-menu.css);

@import url(../blocks/mobile-menu/mobile-menu.css);

@import url(../blocks/menu-button/menu-button.css);

@import url(../blocks/menu-icon/menu-icon.css);

.news {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}

.menu__navigation {
  flex-direction: column;
  justify-content: center;
  height: 766px;
}

.navigation__item_show-dropdown {
  margin-right: 92px;
  position: relative;
}

.navigation__item:nth-child(2) {
  margin-right: 60px;
}

.navigation__item_vertical {
  margin-bottom: 80px;
  margin-right: 0;
}

.navigation__item_vertical .navigation__button_arrow {
  margin: 0;
}

.navigation__item_margin-min {
  margin-bottom: 40px;
}

.navigation__item_vertical:last-child {
  margin-bottom: 0;
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.navigation__button {
  background-color: transparent;
  border: none;
  border-radius: initial;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}

.navigation__button_arrow {
  display: block;
  position: relative;
}

.navigation__button_arrow::after {
  content: "";
  position: absolute;
  background: url("../images/navigation-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 6px;
  margin-left: 14px;
  top: 9px;
}

.navigation__button_arrow_up::after {
  transform: rotate(180deg);
}

.navigation__dropdown-menu {
  opacity: 0;
  background: #000;
  padding: 20px 31px 20px 20px;
}

.navigation__dropdown-menu_click {
  padding: 0;
}

.navigation__dropdown-menu_hover {
  position: absolute;
}

.navigation__item_show-dropdown
  .navigation__button:hover
  .navigation__dropdown-menu_hover {
  display: block;
}

.dropdown-menu__link {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 40px;
}

.dropdown-menu__link:last-child {
  margin-bottom: 0;
}

.navigation__dropdown-menu_click .dropdown-menu__link {
  margin-bottom: 0;
  margin-top: 40px;
}

.section-title {
  font-family: "NeueMachinaBold";
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  margin-bottom: 40px;
}

.slider {
  position: relative;
}

.slider-content {
  display: flex;
  overflow-x: hidden;
  margin-bottom: 40px;
}

.slide {
  height: min-content;
  margin-right: 20px;
  width: 512px;
}

.slide:last-child {
  margin-right: 0;
}

.slide__card {
  width: 512px;
  height: 512px;
}

.slide:nth-child(2n) .slide__card {
  height: 682px;
}

.card-image {
  position: relative;
  display: block;
  margin-bottom: 16px;
}

.card-image__image {
  width: 100%;
  display: block;
  object-fit: cover;
  position: relative;
}

.card-image__button {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 118px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 48px;
  background: #0a0a0a;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.card-image::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.card-image:hover::after {
  opacity: 0.6;
}

.card-image:hover .card-image__button {
  opacity: 1;
}

.slide__title {
  margin: 0;
  font-family: "NeueMachinaBold";
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #0a0a0a;
  margin-bottom: 16px;
}

.slide__date {
  font-size: 20px;
  line-height: 24px;
  color: #0a0a0a;
}

.slider-navigation {
  position: absolute;
  top: -57px;
  right: 5px;
}

.slider-navigation__arrow {
  width: 14px;
  height: 14px;
  background: url("../images/slider-arrow.svg");
  background-size: contain;
  cursor: pointer;
  border: none;
  padding: 0;
}

.slider-navigation__arrow_left {
  margin-right: 30px;
}

.slider-navigation__arrow_right {
  transform: rotate(180deg);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.section-title_color_white {
  color: #fff;
}

.instagram {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.instagram__image {
  display: block;
  width: 335px;
  height: 335px;
}

.subscribe {
  width: 512px;
}

.subscribe__title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 48px;
  color: #fff;
  font-weight: normal;
}

.form__subscribe-info {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
}

.form__input-email {
  border: 0.5px solid #fff;
  border-radius: inherit;
  box-sizing: border-box;
  padding: 12px 87px;
  background: transparent;
  width: 330px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.form__input-email::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: "Golos";
}

.form__input-email:focus {
  outline: none;
}

.form__submit {
  width: 182px;
  height: 48px;
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: #0a0a0a;
  font-family: "NeueMachinaBold";
  text-transform: uppercase;
  cursor: pointer;
}

.form__agreement {
  display: flex;
  margin-top: 16px;
}

.form__agreement-checkbox:checked {
  color: #fff;
}

.form__agreement-checkbox {
  display: none;
}

.form__agreement-custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: inherit;
  margin: 0;
  margin-right: 10px;
}

.form__agreement-checkbox:checked + .form__agreement-custom-checkbox:after {
  content: "";
  position: absolute;
  background: url("../images/checkbox-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 8px;
  top: calc(50% - 4px);
  left: calc(50% - 6px);
}

.form__agreement-text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.footer__copyright {
  margin: 0;
  width: 512px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  position: absolute;
  bottom: 60px;
  right: 20px;
}

.sticky-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 64px;
  padding-right: 21px;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.3s top ease-in-out;
}

.sticky-header_disable {
  opacity: 0;
  top: -64px;
}

.menu {
  width: 480px;
  padding: 20px 25px 0 40px;
  box-sizing: border-box;
  background-color: #000;
  flex-direction: column;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

.menu_open {
  display: flex;
}

.menu-button__label_to-close {
  color: #fff;
}

.menu-icon_close {
  background: url("../images/icon-close.svg");
}

.dropdown-menu_is-open {
  opacity: 1;
  display: block;
}

.progress-bar {
  width: 100%;
  height: 4px;
  background: #ebebeb;
}

.progress-bar__indicator {
  height: 4px;
  background: #292929;
  width: 0%;
}

@media screen and (max-width: 1439px) {
  .footer {
    flex-direction: column;
  }

  .instagram {
    width: max-content;
  }

  .footer__section {
    margin-bottom: 120px;
  }

  .footer__section:last-child {
    margin-bottom: 60px;
  }

  .footer__copyright {
    right: initial;
  }

  .slide,
  .slide__card {
    width: 420px;
  }

  .instagram__image {
    display: block;
    width: 473px;
    height: 473px;
  }

  .menu {
    height: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .slide,
  .slide__card {
    width: 370px;
  }

  .instagram__image {
    width: 345px;
    height: 345px;
  }

  .navigation__link,
  .navigation__button {
    font-size: 20px;
  }

  .navigation__item:first-child {
    margin-right: 70px;
  }

  .navigation__item:nth-child(2) {
    margin-right: 55px;
  }

  .footer__section {
    margin-bottom: 100px;
  }

  .form__agreement {
    align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .header__navigation,
  .sticky-header {
    display: none;
  }

  /* .menu-icon {
    background-image: url("../images/icon-open-white.svg");
  } */

  .menu-icon_close {
    background-image: url("../images/icon-close-white.svg");
  }

  .slide,
  .slide__card {
    width: 325px;
  }

  .form__subscribe-info {
    flex-direction: column;
  }

  .subscribe__title,
  .form__input-email,
  .form__submit {
    width: 100%;
  }

  .subscribe {
    width: 440px;
  }

  .form__input-email {
    padding-left: calc(50% - 79px);
    padding-right: calc(50% - 79px);
  }

  .footer__section {
    margin-bottom: 72px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .news {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .slider-content {
    margin-bottom: 84px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer__copyright {
    right: calc(50% - 141px);
    width: 282px;
  }

  .menu {
    width: 100%;
    z-index: 1;
  }
}

@media screen and (max-width: 479px) {
  .instagram__image {
    width: 182px;
    height: 182px;
  }

  .subscribe {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .slide,
  .slide__card {
    width: 319px;
  }

  .instagram__image {
    width: 148px;
    height: 148px;
  }

  .section-title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 375px) {
  .slide,
  .slide__card {
    width: 263px;
  }

  .subscribe__title {
    line-height: 24px;
    margin-bottom: 42px;
  }
}
