.menu-button {
  padding: 0;
  background: none;
  border-radius: initial;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  height: 24px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--color-content-primary-inverse);
}
